<%= form_with(model: [:admin, @supporter_level]) do |form| %>
  <% if @supporter_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supporter_level.errors.count, "error") %> prohibited this supporter_level from being saved:</h2>

      <ul>
        <% @supporter_level.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	<div class="col-sm-3">
		<div class="field form-group">
	    <%= form.label :name %>
	    <%= form.text_field :name, class: "form-control" %>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="field form-group">
	    <%= form.label :ammount %>
	    <%= form.text_field :ammount, class: "form-control" %>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="actions">
	    <%= form.submit class: "btn btn-primary" %>
	  </div>
	</div>
</div>

<% end %>
