<h2>Supporter Levels</h2>

<div class="row">
	<% @supporter_levels.each do |supporter_level| %>
		<div class="col-sm-4 supporter-level-containers">
			<h3><%= supporter_level.name %> @ <%= number_to_currency(supporter_level.ammount, :unit => "£") %></h3>
			<h4><%= supporter_level.users.count %></h4>
			Supporters at this level
			<br>
			<%= link_to 'Edit', edit_admin_supporter_level_path(supporter_level) %> or <%= link_to 'Delete', admin_supporter_level_path(supporter_level), method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	<% end %>
</div>

<br>

<%= link_to 'New Supporter Level', new_admin_supporter_level_path %>
