<% if @page_title then page_title = @page_title end %>
<% if @suggestions then suggestions = @suggestions end %>
<br>
<h2><%= page_title.to_s %></h2>
<br>
<div>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Votes</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<% if current_user.is_admin? %>
					<th scope="col"></th>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% suggestions.each do |suggestion| %>
				<tr>
					<td><%= suggestion.name %></td>
					<td><%= truncate suggestion.description, length: 100, omission: '... (continued)' %></td>
					<td><%= suggestion.vote_count %> <%= (suggestion.vote_count) == 1 ? 'Vote' : 'Votes'%></td>
					<% unless current_user.is_admin? || suggestion.banned == true %>
					<% pre_vote = suggestion.votes.find { |vote| vote.user_id == current_user.id} %>
						<% if pre_vote %>
							<td><%= link_to "Down Vote", suggestion_vote_path(suggestion, pre_vote), method: :delete, class: "btn btn-danger" %></td>
						<% else %>
						  <td><%= link_to "Vote", suggestion_votes_path(suggestion), :method => :post, class: "btn btn-success" %></td>
						<% end %>
					<% end %>
					<td><%= link_to "View", suggestion_path(suggestion), class: "btn btn-info" %></td>
					<% if suggestion.user == current_user %>
						<td><%= link_to "Edit", edit_suggestion_path(suggestion), class: "btn btn-primary" %></td>
					<% end %>
					<% if current_user.is_admin? %>
						<td><%= link_to "Complete", completed_suggestion_path(suggestion), :method => :post, class: "btn btn-success" %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
