<p id="notice"><%= notice %></p>
<!-- # TODO: DRY this out -->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-top-5-tab" data-toggle="tab" href="#nav-top-5" role="tab" aria-controls="nav-top-5" aria-selected="true">Top 5 Suggestions</a>
    <a class="nav-link" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All Suggestions</a>
    <a class="nav-link" id="nav-completed-tab" data-toggle="tab" href="#nav-completed" role="tab" aria-controls="nav-completed" aria-selected="false">Completed</a>
		<a class="nav-link" id="nav-banned-tab" data-toggle="tab" href="#nav-banned" role="tab" aria-controls="nav-banned" aria-selected="false">Banned</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-top-5" role="tabpanel" aria-labelledby="nav-top-5-tab">
		<h2>Current top 5 Suggestions</h2>

		<br>

		<table class="table table-bordered table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Description</th>
		      <th scope="col">Votes</th>
					<% unless current_user.is_admin? %>
						<th scope="col"></th>
						<th scope="col"></th>
					<% end %>
					<th scope="col"></th>
					<% if current_user.is_admin? %>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					<% end %>
		    </tr>
		  </thead>

		  <tbody>
		    <% @suggestions_top_5.each do |suggestion| %>
		      <tr>
		        <td><%= suggestion.name %></td>
		        <td><%= truncate suggestion.description, length: 100, omission: '... (continued)' %></td>
		        <td><%= suggestion.votes %></td>
						<% unless current_user.is_admin? %>
							<td><%= link_to "Up Vote", up_vote_suggestion_path(suggestion), :method => :post, class: "btn btn-success" %></td>
							<td><%= link_to "Down Vote", down_vote_suggestion_path(suggestion), :method => :post, class: "btn btn-danger" %></td>
						<% end %>
						<td><%= link_to "View", suggestion_path(suggestion), class: "btn btn-info" %></td>
						<% if current_user.is_admin? %>
							<td><%= link_to "Edit", edit_suggestion_path(suggestion), class: "btn btn-primary" %></td>
							<td><%= link_to "Complete", completed_suggestion_path(suggestion), :method => :post, class: "btn btn-success" %></td>
							<td><%= link_to "Ban", banned_suggestion_path(suggestion), class: "btn btn-danger" %></td>
						<% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
  <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
		<h2>All Suggestions</h2>

		<br>

		<table class="table table-bordered table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Description</th>
		      <th scope="col">Votes</th>
					<% unless current_user.is_admin? %>
						<th scope="col"></th>
						<th scope="col"></th>
					<% end %>
					<th scope="col"></th>
					<% if current_user.is_admin? %>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					<% end %>
		    </tr>
		  </thead>

		  <tbody>
		    <% @all_suggestions.each do |suggestion| %>
		      <tr>
		        <td><%= suggestion.name %></td>
		        <td><%= truncate suggestion.description, length: 100, omission: '... (continued)' %></td>
		        <td><%= suggestion.votes %></td>
						<% unless current_user.is_admin? %>
							<td><%= link_to "Up Vote", up_vote_suggestion_path(suggestion), :method => :post, class: "btn btn-success" %></td>
							<td><%= link_to "Down Vote", down_vote_suggestion_path(suggestion), :method => :post, class: "btn btn-danger" %></td>
						<% end %>
						<td><%= link_to "View", suggestion_path(suggestion), class: "btn btn-info" %></td>
						<% if current_user.is_admin? %>
							<td><%= link_to "Edit", edit_suggestion_path(suggestion), class: "btn btn-primary" %></td>
							<td><%= link_to "Complete", completed_suggestion_path(suggestion), :method => :post, class: "btn btn-success" %></td>
							<td><%= link_to "Ban", banned_suggestion_path(suggestion), class: "btn btn-danger" %></td>
						<% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
  <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
		<h2>Completed Suggestions</h2>

		<br>

		<table class="table table-bordered table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Description</th>
		      <th scope="col">Votes</th>
					<th scope="col"></th>
					<% if current_user.is_admin? %>
						<th scope="col"></th>
					<% end %>
		    </tr>
		  </thead>

		  <tbody>
		    <% @completed_suggestions.each do |suggestion| %>
		      <tr>
		        <td><%= suggestion.name %></td>
		        <td><%= truncate suggestion.description, length: 100, omission: '... (continued)' %></td>
		        <td><%= suggestion.votes %></td>
						<td><%= link_to "View", suggestion_path(suggestion), class: "btn btn-info" %></td>
						<% if current_user.is_admin? %>
							<td><%= link_to "Incomplete?", incomplete_suggestion_path(suggestion), :method => :post, class: "btn btn-warning" %></td>
						<% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<div class="tab-pane fade" id="nav-banned" role="tabpanel" aria-labelledby="nav-banned-tab">
		<h2>Banned Suggestions</h2>

		<br>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Votes</th>
					<th scope="col"></th>
					<% if current_user.is_admin? %>
						<th scope="col"></th>
						<th scope="col"></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @banned_suggestions.each do |suggestion| %>
					<tr>
						<td><%= suggestion.name %></td>
						<td><%= truncate suggestion.description, length: 100, omission: '... (continued)' %></td>
						<td><%= suggestion.votes %></td>
						<td><%= link_to "View", suggestion_path(suggestion), class: "btn btn-info" %></td>
						<% if current_user.is_admin? %>
							<td><%= link_to "Edit", edit_suggestion_path(suggestion), class: "btn btn-primary" %></td>
							<td><%= link_to "Un-Ban", unban_suggestion_path(suggestion), :method => :post, class: "btn btn-warning" %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<br>

<%= link_to 'New Suggestion', new_suggestion_path %>
