<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Sym</a> -->
	<div class="container">
		<%= link_to "Sym",  root_path, class: "navbar-brand" %>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
				<% if current_user && current_user.is_supporter? %>
					<li class="nav-item">
						<%= link_to "Suggestions", suggestions_path, class: "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "Blog", blog_path, class: "nav-link" %>
					</li>
				<% end %>
				<% if current_user && current_user.is_admin? %>
				<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Supporter links
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <%= link_to "Suggestions", suggestions_path, class: "dropdown-item" %>
	          <%= link_to "Blog", blog_path, class: "dropdown-item" %>
	        </div>
	      </li>
				<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Admin links
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <%= link_to "Suggestions", suggestions_path, class: "dropdown-item" %>
	          <%= link_to "Blog", admin_posts_path, class: "dropdown-item" %>
						<%= link_to "App maintenance", admin_core_path(1), class: "dropdown-item" %>
	        </div>
	      </li>
				<% end %>
	    </ul>
			<ul class="navbar-nav justify-content-end">
				<% if current_user %>
					<li class="navbar-text">Welcome Back <%= current_user.full_name %></li>
					<li class="nav-item"><%= link_to "Log out", log_out_path, class: "nav-link" %></li>
				<% else %>
					<li class="nav-item">
						<%= link_to "Sign up", sign_up_path, class: "nav-link" %>
					</li>
					<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Sign In
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class="signup_form">
								<%= form_tag sessions_path do %>
	 						   <div class="row">
	 						     <div class="form-group col">
	 						       <%= label_tag :email %>
	 						       <%= text_field_tag :email, nil, class: "form-control" %>
	 						     </div>
	 						   </div>
	 						   <div class="row">
	 						     <div class="form-group col">
	 						       <%= label_tag :password %>
	 						       <%= password_field_tag :password, nil, class: "form-control" %>
	 						     </div>
	 						   </div>
								 <div class="row">
								 	 <div class="form-group col">
										 <%= label_tag :remember_me %>
								     <%= check_box_tag :remember_me, 1, params[:remember_me] %>
								   </div>
								 </div>
	 						   <div class="row">
	 						     <div class="actions col">
	 						       <%= submit_tag "Log in", class: "btn btn-primary btn-block" %>
	 						     </div>
	 						   </div>
	 						   <div class="row nav-link-custom-row">
									 <div class="col nav-item">
											<%= link_to "Forgotten password?", new_password_reset_path, class: "nav-link-custom" %>
						 	     </div>
	 						   </div>
	 						 <% end %>
						 </div>
		        </div>
		      </li>
				<% end %>
			</ul>
	  </div>
	</div>
</nav>
